{% extends 'base.html' %}
{% block maincontent %}
{% load static %}
<link type="text/css" href="{% static 'cart/css/cart.css' %}" rel="stylesheet">


<div class="ordercontent">
    <div class="orderconentborder">
        <div class="itemsinbasketh1">
    <h1 class="headtext-center">ТОВАРЫ В КОРЗИНЕ</h1>
</div>
        {% for item in cart %}
        {% with product=item.product %}
    <div class="iteminbasket">
        <div class="iteminbasketblock name">
            <h2 class="itembasketnameh2">{{ product.name }}</h2>
        </div>
        <div class="iteminbasketblock image">
            <img class="imgimgimg" src="{{ product.image.url }}" alt="">
        </div>
        <div class="iteminbasketblock price">
            <h2 class="itembasketpriceh2">{{ item.price }} BYN</h2>
        </div>
        <div class="iteminbasketblock quantity">
            <form class="formquantitychange" action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <h5>шт.</h5>
                <input type="submit" value="Обновить">
                {% csrf_token %}
              </form>
        </div>
        <div class="iteminbasketblock remove">
            <a href="{% url 'cart:cart_remove' product.id %}"><h3>удалить</h3></a>
        </div>
        <div class="iteminbasketblock totalprice">
            <h2 class="num">{{ item.total_price }} BYN</h2>
        </div>

    </div>
{% endwith %}
      {% endfor %}
        <div class="cartbottom">
        <div class="totalprice">
            <h1>Всего {{ cart.get_total_price }} BYN</h1>
        </div>
        <div class="orderbotton">
            <a href="{% url 'order' %}" class="button10">Оформить заказ</a>
        </div>
            </div>

</div>
</div>
</div>
</div>
{% endblock %}
{% block promotion %}
{% endblock %}