{% extends "base.html" %}
{% block maincontent %}
{% load static %}
<link type='text/css' href="{% static 'product/css/product.css' %}" rel='stylesheet'/>
<div class="contentus">


<div class="itemshadowbig">


    <div class="itemshadow">
            <div class="h1border">
                <a href="#" class="button10" id="categorybutton">В раздел {{ product.category.name }}</a>
  </div>
    <div class="itemwshow">
    <div class="itemimg">
        <img class="im" src="{{ product.image.url }}" alt="">
    </div>
    <div class="itemdesc">
        <div class="itemtunring">
        <div class="arrow-6">


            <div class="itemname"><h1>{{ product.name }}</h1></div>

</div>
        </div>
        <h2 class="itemdescription">{{ product.description }}</h2>

        <div class="itemchangingblock">
        <ul class="itemparams">
            <li class="itemparam 1">
                {% if product.category.id is 4 %}

                <div class="weight">Объём</div>
                {% else %}
                <div class="weight">Вес</div>
                {% endif %}
            </li>
            <li class="itemparam 2">
                <div class="cost">Стоимость</div>
            </li>
        </ul>
        <div class="itemparamscoun">
            {% if product.category.id is 4 %}
            <div class="itemparamscount weight">{{ product.sizes }} л.</div>
            {% else %}
            <div class="itemparamscount weight">{{ product.sizes }} грамм.</div>
            {% endif %}
            <div class="itemparamscount cost">{{ product.price }} BYN</div>
        </div>


        </div>
        <div class="itemorderblock">
            <form class='formaddtocart' action="{% url 'cart:cart_add' product.id%}" method="post">
                {{ cart_product_form }}

                {% csrf_token %}
                <input type="submit" class="button10" value="В корзину">
            </form>


        </div>

    </div>
    </div>
</div>
</div>
</div>
{% endblock %}
{% block promotion %}
{% endblock %}
