{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Тайтл</title>
<link type='text/css' href="{% static 'shop_main_app/css/bootstrap.css' %}" rel='stylesheet'/>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'shop_main_app/js/jquery.cart.js' %}"></script>
<script src="{% static 'shop_main_app/js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<link type="text/css" href="{% static 'shop_main_app/css/style.css' %}" rel="stylesheet" media="all" />
</head>
<body>
	<div class="header">
		<div class="header-top-strip">
			<div class="headerlogobloc"><a href="{% url 'index' %}"><img src="{% static 'shop_main_app/images/pizza-burgelogo1.jpg' %}"></a></div>
			<div class="hedertitile"><h1 class="headertitleh1">ТВОЙ ЛЮБИМЫЙ ФАСТ-ФУД</h1></div>
                <div class="basketshadow">
				<a class="cart" href="{% url 'cart:cart_detail' %}">
                    <i class="icn icn-cart"></i>
					{% with total_items=cart|length %}
					<span class="count cart-count" id="countbyn">
						{{ cart.get_total_price }} BYN
						<a href="{% url 'cart:cart_detail' %}"></a>
						{% endwith %}
					</span>

                </a>
				</div>

			</div>
		</div>
	<div class="categoriesblock">
			{% for cat in categories %}
		<a href="{{ cat.get_absolute_url }}"><h1 class="categoryname">{{ cat.name}}</h1></a>
			{% endfor %}
		</div>

        {% block maincontent %}
        Главный контент страницы
        {% endblock %}
		{% block promotion %}
		<div class="other-products">
		<div class="container">
			<h3 class="like text-center">Со скидкой на этой неделе:</h3>
				    <ul id="flexiselDemo3">
						{% for promo in promotionals %}
						<li><a href="single.html"><img class="itemphotoimg" src="{{ promo.image.url }}" class="img-responsive" alt="" /></a>
							<div class="product liked-product simpleCart_shelfItem">
							<a class="like_name" href="single.html">{{ promo.name }}</a>
							<p><a class="item_add" href="#"><i></i> <span class=" item_price">{{ promo.price }}</span></a></p>
							</div>
						</li>
						{% endfor %}
				     </ul>
					<script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo3").flexisel({
							visibleItems: 4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
					    	responsiveBreakpoints: {
					    		portrait: {
					    			changePoint:480,
					    			visibleItems: 1
					    		},
					    		landscape: {
					    			changePoint:640,
					    			visibleItems: 2
					    		},
					    		tablet: {
					    			changePoint:768,
					    			visibleItems: 3
					    		}
					    	}
					    });

					});
				   </script>
				   <script type="text/javascript" src="{% static 'shop_main_app/js/jquery.flexisel.js' %}"></script>
				   </div>
				   </div>
		{% endblock %}

						<div class="online-strip">
					<div class="col-md-4 follow-us">
						<h3>Мы в соцсетях : <a class="twitter" href="#"></a><a class="facebook" href="#"></a></h3>
					</div>

					<div class="clearfix"></div>
				</div>
		<div class="footer">
		<div class="container">
		  		  <div class="copyright text-center">
				<p>Сайт сделал на фреймворке Django <a href="http://w3layouts.com">  Автор: Карпович Артур</a></p>
		  </div>
		</div>
		</div>

			<script>
				$(document).ready(function () {
						var form = $('#orderformid')
						form.on('submit', function (e) {
						e.preventDefault();
						// var count = $('#count').val();
						// console.log(count);
						var submit_btn = $('#submit_btn');
						var productname = submit_btn.data('itemnameeee')
						var productprice = submit_btn.data('itempriceee')
						console.log(productname)
						console.log(productprice)
						var countbyn = $('#countbyn')

						var numEl = parseInt(countbyn)
						console.log(numEl)




					})
				});
			</script>
</body>
</html>