{% extends 'base.html' %}
{% block maincontent %}
<div class="container">
	<div class="main-content">
		<div class="products-grid">
		<header>
			<h3 class="head text-center">{{ cat.name }}</h3>

		</header>
			{% for product in products %}
			<div class="col-md-4 product simpleCart_shelfItem text-center" id="productitemmain">
			<a href="{{ product.get_absolute_url }}">
				<img class="itemphotoimg" src="{{ product.image.url }}"/>
				<h3 class="product_name">{{ product.name }}</h3>
				<h3 class="item_add"><i></i> <span class="item_price">{{ product.price }} BYN</span></h3></p>
			</a>
			</div>

			{% endfor %}
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endblock %}
{% block promotion %}
{% endblock %}