{% extends 'base.html' %}
{% block maincontent %}
<div class="container">
	<div class="main-content">
		<div class="products-grid">
		<header>
			<h3 class="head text-center">Самые популярные</h3>
		</header>
			{% for product in products %}
			<div class="col-md-4 product simpleCart_shelfItem text-center">
				<a href=""><img src="{{ product.image.url }}" alt="" /></a>
				<div class="mask">
					<a href="{% url 'product' product.pk %}">Quick View</a>
				</div>
				<a class="product_name" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
				<p><a class="item_add" href="#"><i></i> <span class="item_price">{{ product.price }}</span></a></p>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endblock %}
